#mainMenu {
  width : 90%;
}

.menuItem {
  overflow : hidden !important;
}

#sum {
  float : right;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border : 1px solid black;
  text-align : left;
  padding : 0px 10px;
}


.flex-container {
  display : flex;
}

.flex-child {
  flex : 1;
  border : 2px solid black;
}

.my-border {
  margin : 5px;
  padding : 2px;
  border : 1px solid green;
}

.pocket {
  margin : 5px;
}

.pocket label{
  min-width : 100px;
  display : inline-block;
  padding-right: 10px;
}

.pocket label::first-letter {
  text-transform: uppercase;
}

#amount::before {
  content : "$";
}
