#mainMenu {
  width : 90%;
}

.menuItem {
  overflow : hidden !important;
}

#sum {
  float : right;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align : center;
}

th, td {
  border : 1px solid black;
  padding : 0px 10px;
}

tr:nth-child(even) {
  background-color : #dddd;
}

.flex-container {
  display : flex;
}

.flex-child {
  flex : 1;
  margin : 0px 5px; 
}

.my-border {
  padding : 10px 10px;
}

.pocket {
  margin : 5px;
}

.pocket label{
  min-width : 100px;
  display : inline-block;
  padding-right: 10px;
}

.pocket label::first-letter {
  text-transform : uppercase;
}

#amount::before {
  content : "$";
}

.centerD {
  margin : auto;
  width : 50%;
}

.centerB {
  margin : 0 auto;
  display : block;
}

.centerT {
  text-align : center;
}

#insertCoinTable td.name::first-letter {
  text-transform : uppercase;
}

.buttonStyle {
  font-style : 20px;
  margin : 5px;
}

#creditContainer {
  text-align : center;
  padding : 20px 0px;
}

#amount {
  color : red;
}

ul#bag {
  list-style-type : none;
}

ul#bag li {
  float : left;
  padding : 5px;
  margin : 2px;
  background : #E9E9E9;
}

