<!doctype html>
<html>
  <meta charset="uft-8">
  <head>
    <title> Vending Machine </title>

    <link rel='stylesheet' href='./css/jquery-ui.min.css'>
    <link rel='stylesheet' href='./css/index.css'>

    <script type='text/javascript' src='./script/index.js'></script>
    <script type='text/javascript' src='./script/inputTypes.js'></script>
    <script type='text/javascript' src='./script/vendingMachine.js'></script>

    <script type='text/javascript' src='./script/lib/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='./script/lib/jquery-ui.min.js'></script>
    <script type='text/javascript' src='./script/lib/vue-2.5.13.js'></script>
  </head>

  <body>
    <div id='dialog'> <p> </p> </div>
    <h1 style='text-align:center;font-size:2em' class='ui-widget'> <strong>Vending Machine Emulator</strong> </h1>
    <hr style='margin-bottom:25px'>

    <div id='app' class='centerD'>
      <!-- 1st menu tab -->
      <h3 id='userInput' title='Clicking will allow you to add more coins if you can find any'> Enter All Your Coins in Your Pocket </h3>
      <div id='coinsInPocket' class='menuItem'>
        <fieldset> <legend> User input </legend>
          <div> Enter the number of coins you have ... </div>
          <coin-count v-for='(coin,index) in user.coins' :key='index' :coin='coin' v-model='coin.quantity'></coin-count>
        </fieldset>
      </div>

      <!-- 2nd menu tab -->
      <h3 id='insertCoins'> Place Coins In Vendor</h3>
      <div id='vendor' class='menuItem flex-container'>
        <!-- user selection -->
        <div id='leftContaier' class='flex-child ui-widget-content'>
          <fieldset class='fBox'> <legend> Insert Coin </legend>
            <table id='insertCoinTable'>
              <thead> <tr>
                <th>Coin Name</th>
                <th>Avaliable</th>
                <th>Insert</th>
              </tr> </thead>
              <tbody>
                <tr v-for='(coin,index) in user.coins' is='insert-coin' :loc='index' :key='index' :coin='coin'></tr>
              </tbody>
            </table>
          </fieldset>

          <fieldset class='fBox' style='text-align:center'> <legend> Select Item </legend>
            <label v-for='item in vending.items' :for='item.name' class='centerT ui-corner-all ui-widget'>
              <div class='pickItem'>
              <input type='radio' :id='item.name' name='something' v-model='user.picked' :value='item.name' @change='getItem($event.target)'></input>
              <label :for='item.name'> {{ item.name }} </label>
              </div>
            </label>
            <p> Note : Please have <strong>sufficient</strong> coins deposited <strong>before</strong> selecting or else coins will returned. </p>
          </fieldset>
          
          <fieldset v-if='user.itemInBag.length!=0' class='fBox'> <legend> In My Bag </legend>
            <ul v-for='item in user.itemInBag' id='bag'>
              <li class='ui-corner-all ui-widget-content'> {{ item }}</li>
            </ul>
          </fieldset>
        </div>
        <!-- vendor information -->
        <div id='rightContainer' class='flex-child ui-widget-content'> 
          <fieldset class='fBox'> <legend> Vending Machine </legend>
            <table id='vendingTable'>
              <tr>
                <th> Item Name </th>
                <th> Quantity </th>
                <th> Cost </th>
              </tr>
              <tbody>
                <tr v-for='(item, index) in vending.items' is='vending-item' :loc='index' :key='index' :item='item'></tr>
              </tbody>
            </table>
            <div id='creditContainer' class='centerD'> Coins Inserted : <span id='amount'>${{ getDollars(vending.sum) }}</span> </div>
            <button id='returnB' class='centerB' @click='returnCoinsToUser'> Return Coins </button>
          </fieldset>
        </div>
      </div>
    </div>
  </body>
</html>

