<!doctype html>
<html>
  <meta charset="uft-8">
  <head>
    <title> Vending Machine </title>

    <link rel='stylesheet' href='./css/jquery-ui.min.css'>
    <link rel='stylesheet' href='./css/index.css'>

    <script type='text/javascript' src='./script/index.js'></script>
    <script type='text/javascript' src='./script/inputTypes.js'></script>
    <script type='text/javascript' src='./script/vendingMachine.js'></script>

    <script type='text/javascript' src='./script/lib/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='./script/lib/jquery-ui.min.js'></script>
    <script type='text/javascript' src='./script/lib/vue-2.5.13.js'></script>
  </head>

  <body>
    <div id='app'>
      <!-- 1st menu tab -->
      <div id='coinCount'>
        <coin-count v-for='(coin,index) in coins' :key='index' :coin='coin'> </coin-count>
      </div>

      <div>
        <table id='insertCoinTable'>
          <thead> <tr>
            <th>Coin Name</th>
            <th>Avaliable</th>
            <th>Insert</th>
          </tr> </thead>
          <tbody>
            <tr v-for='(coin,index) in coins' is='insert-coin' :loc='index' :key='index' :coin='coin'></tr>
          </tbody>
        </table>
        <template v-for='item of vending'>
          <label> {{ item.name }} </label>
          <input type='radio' v-model='picked' :value='item.name' @click='getItem($event.target.value)'></input>
        </template>
      <span> Picked : {{ picked }} </span>
      </div>

      <div>
        <table id='vendingTable'>
          <tr>
            <th> Item Name </th>
            <th> Quantity </th>
            <th> Cost </th>
          </tr>
          <tbody>
            <tr v-for='(item, index) in vending' is='vending-item' :loc='index' :key='index' :item='item'></tr>
          </tbody>
        </table>
        <div> Sum : {{ sum }} </div>
        <button @click='returnCoins'> Return Coins </button>
      </div>


    </div>
  </body>
</html>

